.logo img{
    width: 30%;
    height: auto;

}

body{
    background-color: #bcb5b5;
    margin: 0; 
}


header{
    background-color: #f7b46b; 
}

h1{
    font-size: 70px; 
    color: #800000;
}


.custom-h3-bg{
    background-color: yellowgreen !important; 
    margin-bottom: 0 !important;
}


.ddmenu-bg {
    background-color: #ef866b !important; 
    padding-left: 0;
}

.ddmenu-ul .ddmenu-li {
    width: auto; 
    padding: 0 15px;
    flex-grow: 1;
    text-align: center;
}

.ddmenu-a {
    color: black !important;
    font-weight: bold !important;
    line-height: 40px;
    
}
.ddmenu-a:hover {
    background-color: #ffdddd !important; 
    color: #dd0000 !important;
}

.menu-bg{
    background-color: lightblue !important;
}
.name-bg{
    background-color: yellow !important;
}
.name {
    margin: 0 !important;
}
.gif img{
    width: 100%;
    height: auto;
}

.image-container { 
    height: 350px; 
    width: 100%; 
    overflow: hidden;
    margin-bottom: 10px; 
}
.image-container img { 
  
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.menu p, .card-body p { 
    max-width: 100%; 
    overflow: hidden; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
   line-height: 1.5; 
    font-size: 16px; /* 適切なデフォルトサイズに変更 */
}


.access-bg {
    background-color: #800000;
    color: white;
}


.footer-bg {
    background-color: #343a40;
    color: white;
}


